<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvGX5ca4HGO45vRaKQMdHb6j4izNq7zTA</string>
	<key>GCM_SENDER_ID</key>
	<string>352835275222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plannerFrontend</string>
	<key>PROJECT_ID</key>
	<string>task-manager-b0625</string>
	<key>STORAGE_BUCKET</key>
	<string>task-manager-b0625.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352835275222:ios:2a4e484349bc28d83bfc77</string>
	<key>DATABASE_URL</key>
	<string>https://task-manager-b0625-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>